@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #17212b;
  color: #e4ecf2;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #17212b;
}
::-webkit-scrollbar-thumb {
  background: #344150;
  border-radius: 3px;
}
